# Ignore the directory and any file starting with its name
micromonsta2-patch-tools/
micromonsta2-patch-tools.*

# Ignore .csv and .syx only in the project root
/*.csv
/*.syx

# Explicitly include specific .syx files in the root
!/Bass_Ancient_1749423125.syx
!/P292_Init.syx
